<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Items</title>
</head>
<body>
<h1>Items</h1>
<br>
{% if request.user.is_authenticated %}
Welcome, {{ request.user.username }} ! <a href="/{{ user.id }}/my_account/">My account</a>   <a href="{% url 'logout' %}">
    <button>Logout</button>
</a><br>
<br>
{% else %}
You are not logged. <a href="{% url 'login' %}">
    <button>Login</button>
</a><br> or <a href="{% url 'register' %}"><button>Sign up</button></a>
{% endif %}
<h2>Item list</h2>
{% if item_list %}
<table border="1">
    {% for item in shops %}
    <tr>
        <td>{{ item.name }}</td>
        <td>
            {{ item.shops|join:", " }}
        </td>
    </tr>
    {% endfor %}
</table>
<br>
{% else %}
<p>No items</p>
{% endif %}
<h2>Shop list</h2>
{% if shop_list %}
<ul>
    {% for shop in shop_list %}
    <li>
        <a href="/{{ shop.id }}/shop_single/">{{ shop.name }}</a> | <i>Addresse: </i>{{ shop.address }}
    </li>
    {% endfor %}
</ul>
{% endif %}
<h2>Bestseller:</h2>
<ul>
    {% if bestseller %}
    <li>
        Product_id: {{ bestseller.id }}
    </li>
    <li>
        Product name: {{ bestseller.product }}
    </li>
    <li>
        Sold: {{ bestseller.item_quantity }}
    </li>
</ul>
{% else %}
Продаж не было.
{% endif %}
</body>
</html>