<html>
<center><h1>Прошёл все курсы на Skillbox</h1></center>

<h2>

    Продаю готовые домашние задания.<br><br>
    Курсы:

    <ul>
        <li>
            <a href="adv_python_basic" target="_blank">Python Basic</a>
        </li>
        <li>
            <a href="adv_sql" target="_blank">Язык запросов SQL</a>
        </li>
        <li>
            <a href="adv_django" target="_blank">Python- фреймворк Django</a>
        </li>
        <li>
            <a href="adv_python_advanced" target="_blank">Python advanced</a>
        </li>
        <li>
            <a href="adv_web" target="_blank">WEB- вёрстка</a>
        </li>
    </ul>
</h2>
</html>