<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>О нас</title>
</head>
<body>
<h2>О нас</h2>
Агентство недвижимости "Адрес" действует на рынке с 11 августа 1997 года и с 1999 года является членом Нижегородской
Гильдии риэлторов и членом Российской гильдии риэлторов.

За годы успешной работы сформирована сплоченная команда профессионалов. В агентстве работает более 80 сотрудников. Все
сотрудники периодически проходят профессиональное обучение по повышению квалификации. В данный момент весь руководящий
состав, брокеры, и специалисты по недвижимости аттестованы по системе сертификации услуг Российской Гильдии риэлторов на
рынке недвижимости Российской Федерации.
</body>
</html>